.products {
  margin: 20px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__single {
  height: 180px;
  padding: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  border-radius: 3px;
  cursor: pointer; /* Imp on clickables */
}

.products__single > img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  margin-bottom: 1px;
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}
.pagination > span {
  padding: 15px 20px;
  border: 2px solid gray;
  cursor: pointer;
}
.pagination__selected {
  background-color: gray;
}
.pagination__disabled {
  opacity: 0;
}
