.progress {
  height: 20px;
  width: 500px;
  background-color: rgb(233, 236, 239);
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.progress span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.progress div {
  height: 100%;
  background-color: rgb(66, 175, 66);
}
